<div class="card p-10 prose">
  <h1 id="exmeralda-terms-of-service">Exmeralda Terms of Service</h1>
  <h2 id="1-general">1.    General</h2>
  <p>
    1.1.    These Terms of Service govern the contractual relationship between bitcrowd GmbH (“bitcrowd”) and the user (“User”) of Exmeralda, a bitcrowd Software as a Service (SaaS) that can be accessed under exmeralda.chat (hereinafter: Exmeralda). The contact information for bitcrowd can be found under <a href="https://bitcrowd.net/de/impressum">https://bitcrowd.net/de/impressum</a>.
  </p>
  <p>
    1.2.    By registering for and using the services provided by bitcrowd, the User agrees to be bound by these Terms. The User confirms that it acts as an enterprise (Unternehmer) within the meaning of § 14 BGB or legitimately represents an enterprise.
  </p>
  <h2 id="2-description-of-services">2.    Description of Services</h2>
  <p>
    2.1.    Exmeralda is an AI-powered virtual assistant capable of responding to inquiries regarding various third-party software libraries to provide an interactive documentation. Exmeralda utilizes Large Language Models (LLMs) trained and provided by third parties to generate responses based on the User input regarding these libraries.
  </p>
  <p>
    2.2.    Through Exmeralda, the customer may access services provided by third parties, such as Jina.ai and Groq, over which bitcrowd has no control. The Terms and Conditions for Jina.ai can be accessed under <a href="https://jina.ai/legal/">https://jina.ai/legal/</a>, and for Groq under <a href="https://console.groq.com/docs/legal">https://console.groq.com/docs/legal</a>. The customer knows and accepts them as amended from time to time. The customer will also comply with any other third-party Terms and Conditions, Privacy Policies and other terms for these services, especially for the AI models accessible through Groq. The currently available models may be viewed at <a href="https://console.groq.com/docs/models">https://console.groq.com/docs/models</a>.
  </p>
  <p>
    2.3.    Users may rate and provide feedback on the responses received, thereby contributing to the continuous improvement of the service. The data supplied by users may be used for training the AI models.
  </p>
  <p>
    2.4.    To access the services, the User must register using a valid GitHub account which will need to be created under the applicable Terms and Conditions and Privacy Policy. When registering an Exmeralda account, the User will be redirected to GitHub to sign in and then authorize GitHub to pass on the account name and the associated email address to bitcrowd. This information will be used by bitcrowd to create the Exmeralda user account. Additionally, the email address may be used in order to inform the User about changes and updates to these terms or the service, including informing Users who send excessive requests. To the extent such messages constitute promotional communication, the User may opt out  at any time by following the unsubscribe link within the email or by contacting bitcrowd. The bitcrowd privacy policy applies; it can be found under
    <a href="https://bitcrowd.net/de/datenschutzerkl%C3%A4rung">
      https://bitcrowd.net/de/datenschutzerkl%C3%A4rung
    </a>
    (in German).
  </p>
  <h2 id="3-data-collection-and-use">3.    Data Collection and Use</h2>
  <p>
    3.1.    Users will not enter any personal information within the meaning of relevant data protection laws (especially the GDPR and Bundesdatenschutzgesetz) into the system of Exmeralda. That especially includes (but is not limited to) names, contact details, or any other information identifying individuals. The User is solely responsible for ensuring compliance with data protection and privacy laws when using the service.
  </p>
  <p>
    3.2.    Chat interactions between Users and Exmeralda may be sent to the Third Parties to provide the Exmeralda services. The content may also be stored by Exmeralda or third parties. The data is utilized to improve the AI assistant’s performance and general service quality, enable library authors to understand user inquiries, evaluate the effectiveness of the system, assess the accuracy of AI-generated responses, and provide anonymized statistics and usage information to third parties (e.g., library authors). Bitcrowd will anonymize or pseudonymize such data before sharing it with library authors.
  </p>
  <p>
    3.3.    The user may opt out of this use at any time through the settings; in this case, the system will automatically forget the interaction after 30 minutes of inactivity.
  </p>
  <p>
    3.4.    The User may request deletion of their account at any time through the account settings. Upon such a request and unless statutory retention obligations require otherwise, bitcrowd will delete the User’s account without undue delay. The User grants bitcrowd a timeframe of up to [14  days] to remove the account.
  </p>
  <h2 id="4-intellectual-property-and-usage-rights">
    4.    Intellectual Property and Usage Rights
  </h2>
  <p>
    4.1.    All rights, title, and interest in and to the service, including any software, documentation, and underlying technology, are and remain the exclusive property of bitcrowd. Third-party services and products accessible through Exmeralda remain the property of their respective owners.
  </p>
  <p>
    4.2.    Subject to these Terms, bitcrowd grants Users a non-exclusive, non-transferable license to use the AI-generated responses for their internal business purposes. The User acknowledges that AI outputs may be subject to third-party rights if they reference third-party materials.
  </p>
  <p>
    4.3.    The service may interact with or reference third-party libraries or other content. bitcrowd does not claim ownership of such third-party content and disclaims any liability arising from its use. Users are responsible for complying with any applicable third-party license terms. Upon request, bitcrowd may name the respective license model.
  </p>
  <h2 id="5-changes">5.    Changes</h2>
  <p>
    5.1.    Bitcrowd reserves the right to modify these Terms at any time. Significant changes will be communicated to the User via the email address provided during registration or via an in-service notification, at least [30] days before such changes become effective. The User has an extraordinary right of termination to be exercised either through the settings or via written declaration to bitcrowd before the effective date of the change; otherwise, the change shall be deemed to have been accepted by the User.
  </p>
  <p>
    5.2.    Bitcrowd may send Users notifications about usage limits, system updates, or changes to these Terms via email.
  </p>
  <h2 id="6-liability-warranty">6.    Liability; Warranty</h2>
  <p>
    6.1.    The following provisions on bitcrowd’s liability and warranty shall apply to all claims for damages, claims for defects or claims in lieu thereof by the User arising from or in connection with the performance of bitcrowds services, irrespective of the legal grounds on which they are based (e.g. warranty, default, impossibility, breach of duty, existence of an obstacle to performance, tort, etc.), but not to claims by the Customer
  </p>
  <p>6.1.1.    for damages arising from injury to life, body and health;</p>
  <p>
    6.1.2.    in the event of fraudulent concealment of a defect by bitcrowd or due to the absence of a quality for which bitcrowd has assumed a guarantee;
  </p>
  <p>
    6.1.3.    which are based on intentional or grossly negligent behavior on the part of bitcrowd or its legal representatives;
  </p>
  <p>6.1.4.    under the German Product Liability Act (Produkthaftungsgesetz - ProdHaftG); and</p>
  <p>
    6.1.5.    which are covered by § 69 or § 70 Telecommunication Act (Telekommunikationsgesetz - TKG).
    In case of such an exception, the statutory provisions apply.
  </p>
  <p>
    6.2.    Bitcrowd shall only be liable for slight negligence in the event of a breach of material obligations, i.e. obligations whose fulfillment is essential for the proper performance of the contract, whose breach jeopardizes the achievement of the purpose of the contract and on whose compliance the Customer can regularly rely (Kardinalpflichten). In the event of a breach of a cardinal obligation, liability shall be limited to the foreseeable damage typical for the contract, but to a maximum amount of EUR 10,000.00 . This also applies to loss of profit and loss of savings. Otherwise, bitcrowd&#39;s liability for slight or simple negligence is excluded.
  </p>
  <p>
    6.3.    Bitcrowd&#39;s liability for gross negligence of its vicarious agents shall be limited to compensation for typical damage that was foreseeable for Bitcrowd at the time the contract was concluded. The strict liability of bitcrowd in the area of tenancy law and similar usage relationships for errors already existing at the time of conclusion of the contract is expressly excluded (§ 536a BGB).
  </p>
  <p>
    6.4.    Bitcrowd shall not be liable for defects in connected third-party services or damages caused by them and in turn cedes to the User any claims for tort or damages against the third party regarding these defects or damages.
  </p>
  <p>
    6.5.    The User is solely responsible for assessing the suitability, accuracy, and reliability of any AI-generated content and for any decisions or actions taken based on such content. The Customer is responsible for examining the practical or legal consequences, such as additional costs, functional limitations, security risks or possible damages, of using bitcrowd&#39;s services. Exmeralda may be used for internal business purposes only. The service and the AI-generated content are provided “as is” without warranty of any kind. Bitcrowd expressly disclaims any warranties regarding the accuracy, completeness, or reliability of the AI-generated responses. The service is not intended as legal, financial, or other professional advice. The User acknowledges that AI-generated content may contain inaccuracies or errors.
  </p>
  <p>
    6.6.    The user is aware that no software product or service can be completely free of issues, and that problems may occur. Accordingly, bitcrowd does not owe a specific uptime or availability of the services. The User agrees to use the service in compliance with all applicable laws and regulations and to refrain from any activity that could harm the reputation or functionality of bitcrowd or third parties. The User shall refrain from uploading any content that infringes the rights of others, that is defamatory, offensive, or otherwise unlawful, or from prompts designed to generate such output.
  </p>
  <p>
    6.7.    Bitcrowd shall not be responsible for disruptions in performance due to force majeure (in particular strikes, lockouts, official orders, natural disasters, epidemics or pandemics, failure of communication networks or network infrastructure, disruptions in the services of carriers). Bitcrowd assumes no responsibility or obligation to avert such events, even if these events are foreseeable, unless expressly agreed otherwise.
  </p>
  <p>
    6.8.    Bitcrowd reserves the right to raise the objection of contributory negligence (Mitverschulden) of the User, in particular with regard to the Customer&#39;s obligations to back up data and protect against malware in accordance with the current state of the art. In the event of loss of data, Bitcrowd shall only be liable for the expenditure required to restore the data in the event of proper data backup by the Customer.
  </p>
  <p>
    6.9.    The User is responsible for maintaining the confidentiality of their account credentials. The User agrees to notify bitcrowd immediately of any unauthorized use of their account or any other security breach. The User shall be liable for any activities conducted through their account unless such activities are not attributable to the User’s fault. Bitcrowd is not liable for any damages caused by faulty information supplied by the User.
  </p>
  <p>
    6.10.    For third-party services, the liability regulations of the respective license take precedence and apply conclusively. If these regulations do not apply, this section shall apply subordinately.
  </p>
  <h2 id="7-termination-of-use">7.    Termination of Use</h2>
  <p>
    7.1.    Bitcrowd may suspend or terminate a User’s access to the service without prior notice if the User materially breaches these Terms or if bitcrowd has reasonable grounds to believe that the User’s continued use of the service may cause harm to bitcrowd, other users, or third parties.
  </p>
  <p>
    7.2.    Bitcrowd does not systematically monitor or filter user inputs for personal data or illegal content. If bitcrowd becomes aware of any user input that violates these Terms or applicable law, it may remove or block access to such content and/or terminate the User’s account immediately.
  </p>
  <h2 id="8-final-provisions">8.    Final Provisions</h2>
  <p>
    8.1.    These Terms shall be governed by the laws of the Federal Republic of Germany, excluding its conflict of law provisions and the United Nations Convention on Contracts for the International Sale of Goods (CISG). The exclusive place of jurisdiction for all disputes arising from or in connection with these Terms is Berlin, Germany; however, bitcrowd may also sue the User at its place of business.
  </p>
  <p>
    8.2.    The Customer may only assert a right of retention or offset counterclaims that are undisputed, have been confirmed in writing by bitcrowd or have been legally established or to which the Customer is entitled under the warranty for defects.
  </p>
  <p>
    8.3.    If any provision of these Terms is found to be invalid or unenforceable, the remaining provisions shall remain in full force and effect. The invalid or unenforceable provision shall be replaced by a valid provision that comes closest to the intended economic purpose of the invalid provision.
  </p>
  <p>
    8.4.    The failure of bitcrowd to enforce any right or provision of these Terms shall not constitute a waiver of such right or provision.
  </p>
</div>
