@layer components {
  .chat-container {
    @apply max-w-4xl;

    * + * {
      @apply mb-4;
    }

    pre {
      @apply overflow-x-scroll p-6 rounded-md;
    }

    a {
      @apply underline text-violet-900;
    }
  }
}
