<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Exmeralda" suffix=" · Exmeralda">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <meta name="title" content="Ask Exmeralda" />
    <meta name="description" content="Choose a library, and ask me anything about it." />
    <meta property="og:site_name" content="Exmeralda" />
    <meta property="og:title" content="Ask Exmeralda" />
    <meta property="og:url" content={@conn.request_path} />
    <meta property="og:image" content={~p"/assets/images/ask-exmeralda.png"} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Choose a library, and ask me anything about it." />
  </head>
  <body class="h-screen">
    {@inner_content}
  </body>
</html>
